
<header>
  <div class="cont">
    <a routerLink="/" class="logo">Chai Monk</a>
    <nav>
      <ul>
        <li *ngIf="isAuth">
          <a href="#">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            
              <a routerLink="/Profile">Profile</a>
              <a routerLink="/order">order</a>
              <a (click)="logout()">logout</a>
            
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
