
<header>
  <div class="cont">
    <a routerLink="/" class="logo">Chai Monk</a>
    <nav>
      <ul>
        <li>
          <a href="#">Login</a>
        </li>
        <li class="menu-con">
          <a routerLink="/dashboard" class="menu-trigger">chai <span>&#9662;</span></a>
          <div class="menu">
            <ul>
              <li><a routerLink="/Profile">PROFILE</a></li>
              <li><a routerLink="/order">order</a></li>
              <li><a routerLink="/login">logout</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a routerLink="/cart">cart</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
